.bar {
    max-width: auto;
    margin: 0px;
    background-color: #736aff;
    padding: 12px 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.bar a {
    margin: 0 auto;
    transition: 0.2s ease;
}

.bar a:hover {
    transform: scale(1.1);
}

body {
    background-color: #000000;
    color:#ffffff;
    margin: 0px;
}

#head {
    color:#ffffff;
    text-align: center;
}

h1 {
    color:#ffffff;
    padding-bottom: 0.5rem;
    margin: 0px;
}

p {
    color:#ffffff;
    margin: 0px;
}

main {
    color:#ffffff;
    display: grid;
    justify-items: center;
    align-items: center;
    padding-top: 1.5rem;
}

#info {
    color:#ffffff;
    text-align: left;
    margin: 0px;
    font-weight: 20px;
}

#DOG {
    color:#ffffff;
    rotate: 90deg;
    align-items: end;
}